.menu-search {
  max-width: 350px;
  margin-right: 5px;
  margin-left: auto;
  input {
    visibility: hidden;
  }
  .input-group-append {
    button {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  .menu-search {
    max-width: 350px;
    input {
      visibility: visible;
    }
    .input-group-append {
      button {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
}
