.canvas {
  position: relative;
}

/* Extra small devices (phones, 767px and down) */
.layout-control-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background: #fff;
  padding: 16px;
  z-index: 401; // 2000;
  border-right: 1px solid #ccc;
  hr {
    // transform: rotate(90deg);
    // color: transparent;
    // width: 1px;
    // ::after {
    //   height: 64px;
    //   width: 1px;
    //   background-color: red;
    // }
  }

  // @include media-breakpoint-up(md) {
  //   hr,
  //   .button-view-map,
  //   .button-view-feeder {
  //     display: none;
  //   }
  // }
  @include media-breakpoint-up(lg) {
    // display: flex;
    // width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    // hr {
    //   transform: none;
    // }
  }
  // Hide the map and feeder buttons at the smaller views.
  hr,
  .button-view-map,
  .button-view-feeder {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  .select-view {
    margin-right: 16px;
  }
  .button-view-filters {
    margin-right: 8px;
  }
  .btn.button-core {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 14px;
    &:hover {
      background-color: #f6f6eb;
    }
    &.active {
      background-color: #ffeee5;
      color: #e55934;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .layout-control-panel {
    // display: flex;
    // width: 280px;
    // position: absolute;
    // left: 16px;
    // top: 16px;
    // hr,
    // .button-view-map,
    // .button-view-feeder {
    //   display: none;
    // }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
@include media-breakpoint-up(lg) {
  .layout-control-panel {
    width: 80px;
    height: calc(100vh - 64px);
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    .select-view {
      display: none;
    }
    hr,
    .button-view-map,
    .button-view-feeder {
      display: block;
    }
    .control-label {
      text-align: center;
      color: #606B44;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 16px;
      &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5)  {
        margin-bottom: 8px;
      }
    }
    .button-view-map,
    .button-view-feeder,
    .button-panel-filters, 
    .button-panel-info {
      display: block;
      font-size: 2.1rem;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      //background-color: #F6F6EB;
      &:focus {
        box-shadow: none;
      }
      &.btn-light:not(:disabled):not(.disabled).active {
        background-color: #FFEEE5;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          stroke: #E55934;
        }
      }
    }
    .button-panel-filters, 
    .button-panel-info {
      background-color: transparent;
    }
    .button-share-facebook, 
    .button-share-twitter,
    .button-share-email,
    .button-share-link
     {
      font-size: 1.4rem;
      height: 40px;
      width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      &:focus {
        box-shadow: none;
      }
      &.btn-light:not(:disabled):not(.disabled).active {
        background-color: transparent;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          stroke: #E55934;
        }
      }
    }
    // hr,
    // .button-view-map,
    // .button-view-feeder {
    //   display: block;
    // }
    hr {
      width: 100%;
      margin: 0.8rem 0 1.6rem;
      border-top: 1px solid #E8EAE4;
    }
    button {
      margin-bottom: 8px;
    }
    .button-view-filters {
      margin-right: 0;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
}
