.canvas {
  position: relative;
}

/* Extra small devices (phones, 767px and down) */
.layout-control-panel {
  height: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 16px;
  z-index: 401; // 2000;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
  box-shadow: 0 1px 3px #ccc;
  hr,
  .button-view-map,
  .button-view-feeder {
    display: none;
    // @include media-breakpoint-up(lg) {
    //   display: block;
    // }
  }
  .select-view {
    margin-right: 16px;
  }
  .button-view-filters {
    margin-right: 8px;
  }
  .dropdown.select-view {
    // min-width: 200px;
    .btn {
      border-radius: 0;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 300;
      padding: 0.8rem 1.2rem;
      &:after {
        margin-left: 1rem;
        margin-bottom: -2px;
      }
    }
    .dropdown-menu.show {
      width: 100%;
      border-radius: 0;
      font-size: 1.4rem;
      line-height: 1.5rem;
      font-weight: 300;
      align-self: center;
      button {
        padding: 0.8rem 1.2rem;
        &.active {
          background-color: #e55934;
        }
      }
    }
  }
  .btn.button-core {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 14px;
    margin-right: 1rem;
    flex: 0 0 40px;
    align-self: center;
    &:hover {
      background-color: #f6f6eb;
    }
    &.active,
    &:focus {
      background-color: #ffeee5;
      color: #e55934;
    }
  }
}
// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .layout-control-panel {
    // height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 460px;
    position: absolute;
    left: 16px;
    top: 16px;
    .btn.btn-core {
      margin-right: 0;
    }
    hr,
    .button-view-map,
    .button-view-feeder {
      display: none;
    }
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // @include media-breakpoint-up(lg) {
  .layout-control-panel {
    width: 64px;
    height: calc(100vh - 64px);
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: flex-start;
    left: 0;
    top: 0;
    .select-view {
      display: none;
    }
    hr,
    .button-view-map,
    .button-view-feeder {
      display: block;
    }
    .control-label {
      text-align: center;
      color: #606B44;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 16px;
      &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5)  {
        margin-bottom: 8px;
      }
    }
    .button-view-map,
    .button-view-feeder,
    .button-panel-filters, 
    .button-panel-info {
      display: block;
      font-size: 2.1rem;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      //background-color: #F6F6EB;
      &:focus {
        box-shadow: none;
      }
      &.btn-light:not(:disabled):not(.disabled).active {
        background-color: #FFEEE5;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          stroke: #E55934;
        }
      }
    }
    .button-panel-filters, 
    .button-panel-info {
      background-color: transparent;
    }
    .button-share-facebook, 
    .button-share-twitter,
    .button-share-email,
    .button-share-link
     {
      font-size: 1.4rem;
      height: 40px;
      width: 40px;
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      &:focus {
        box-shadow: none;
      }
      &.btn-light:not(:disabled):not(.disabled).active {
        background-color: transparent;
        border: none;
        &:focus {
          border: none;
          box-shadow: none;
        }
        svg {
          stroke: #E55934;
        }
      }
    }
    // hr,
    // .button-view-map,
    // .button-view-feeder {
    //   display: block;
    // }
    hr {
      width: 100%;
      margin: 0.8rem 0 1.6rem;
      border-top: 1px solid #E8EAE4;
    }
    button,
    .btn.btn-core {
      margin-bottom: 16px;
      margin-bottom: 8px;
      align-self: center;
      margin-right: 0 !important;
    }
    .button-view-filters {
      margin-right: 0;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
}
