.map-legend {
  position: absolute;
  top: calc(16px + 64px); // Changes on smallest device.
  right: 16px;
  width: 280px;
  background: #fff;
  padding: 24px;
  box-shadow: 3px 3px 5px #ccc;
  border-radius: 2px;
  .map-legend-open-filter-panel {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;
    &.disabled {
      color: lighten($turtle-green, 15%);
    }
  }
  .map-legend-label {
    font-family: Halyard;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $turtle-green;
  }
  .map-legend-zone-labels {
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 0.7rem;
    justify-content: space-between;
    .fewer,
    .avg,
    .more {
      flex: 0 1 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .avg {
      text-align: center;
    }
    .more {
      text-align: right;
    }
  }
  .map-legend-metric-title {
    font-family: Halyard;
    font-size: 1.8rem;
    line-height: 2rem;
    color: $turtle-green;
    margin: 1rem 0;
  }
  .n-i-scale {
    .n-i-scale-minmax {
      .n-i-scale-min,
      .n-i-scale-max {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1rem;
        color: $turtle-green;
      }
    }
  }
  .map-legend-school-dot {
    margin-top: 1rem;
    padding-left: 5px;
  }
  .map-legend-school-zone {
    margin-top: 1rem;
  }
  .map-legend-school-dot,
  .map-legend-school-zone {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $turtle-green;
    .map-legend-school-dot-icon {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      vertical-align: bottom;
      margin-right: 10px; // 0.35rem;
      box-shadow: 1px 1px 2px #ccc;
    }
    .map-legend-school-zone-icon {
      width: 16px;
      height: 16px;
      position: relative;
      margin-right: 6px;
      .map-legend-school-zone-icon-knockout {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        vertical-align: middle;
      }
      .map-legend-school-zone-icon-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        vertical-align: bottom;
        // margin-right: 0.35rem;
        box-shadow: 1px 1px 2px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .census-scale {
    margin-top: 1.6rem;
    .scale-parent {
      display: flex;
      width: 80%;
      height: 16px;
      border: 1px solid #959b84;
      // background-color: blue;
      .scale-block {
        flex: 0 0 16.67%;
        border-right: 1px solid #959b84;
        background-color: rgba(0, 0, 0, 0);
        &.scale-block-4 {
          border-right: 0;
        }
        &.scale-block-1 {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &.scale-block-2 {
          background-color: rgba(0, 0, 0, 0.2);
        }
        &.scale-block-3 {
          background-color: rgba(0, 0, 0, 0.3);
        }
        &.scale-block-4 {
          background-color: rgba(0, 0, 0, 0.4);
        }
        &.scale-block-5 {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .scale-range {
      display: flex;
      width: 80%;
      .scale-range-minmax {
        flex: 0 0 50%;
        &.max {
          text-align: right;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .map-legend {
    top: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .map-legend {
    padding: 16px;
    .map-legend-title {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    .map-legend-metric-title {
      font-size: 1.4rem;
      line-height: 2rem;
      margin: 0.5rem 0;
    }
    .map-legend-school-dot,
    .map-legend-school-zone {
      margin-top: 0.25rem;
    }
  }
}
