.modal-dialog.intro-modal {
  .modal-content {
    font-family: Halyard;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    .modal-body {
      padding: 0 24px 24px 24px;
      .intro-modal-option {
        margin: 0 0 2rem 0;
        .search-autosuggest {
          margin-left: 0;
          margin-right: auto;
        }
      }
      .btn.button-core {
        border-radius: 0;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 300;
        padding: 1rem;
        svg {
          margin-right: 1rem;
          margin-top: -3px;
        }
      }
    }
    .modal-header {
      border-bottom: none;
    }
  }
}

.modal-dialog {
  .modal-content {
    font-family: Halyard;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    .modal-body {
      padding: 0 24px 24px 24px;
    }
  }
}

.modal-dialog.map-modal {
  .modal-content {
    .popup-content {
      width: auto !important;
      .click-school-prompt {
        margin: 1.5rem 0 0;
        svg {
          margin-right: 0.75rem;
          margin-bottom: 4px;
        }
      }
      .n-i-scale {
        .n-i-scale-quintiles {
          .n-i-scale-quintile {
            top: -3px;
          }
        }
      }
      button {
        border-radius: 0;
        padding: 0.6rem 1.2rem;
      }
    }
  }
}
