.map-panel-slideout-info {
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  h5 {
    margin-bottom: 1.6rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2C390B;
  }
  p {
    margin: 1rem 0;
    font-family: Halyard Text;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    color: #606B44;
    margin-bottom: .8rem;
  }
}
