@font-face {
  font-family: 'Halyard';
  src: url('./fonts/Halyard Text Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Halyard';
  src: url('./fonts/Halyard Text Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Halyard';
  src: url('./fonts/Halyard Text ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Halyard';
  src: url('./fonts/Halyard Text SemiBold.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Louize Display';
  src: url('./fonts/LouizeDisplay.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Louize Display';
  src: url('./fonts/LouizeDisplay-Medium.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Louize Display';
  src: url('./fonts/LouizeDisplay-Bold.ttf')
    format('truetype');
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: Halyard;
}

html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}

@import '~bootstrap/scss/bootstrap.scss';
// @import './bootstrap/bootstrap.scss';
// @import '~bootstrap/dist/css/bootstrap.css';

// @import 'breakpoints';
// @import 'mixins';
@import 'variables';

@import 'images/logos';
// Core components
@import 'Canvas';
// Explorer components
@import 'App';
@import 'Layout';
@import 'ControlPanel';
@import 'FeederView';
@import 'MapView';
@import 'Map';
@import 'MapLegend';
@import 'Header';
// Child content component for the popup.
@import 'PopupContent';
// Slideout panel & children
@import 'SlideoutPanel';
@import 'PanelFilterView';
@import 'PanelLayerView';
@import 'PanelInfoView';
// Interactive scale appears in filter panel
@import 'InteractiveScale';
// Non-interactive scale appears in legend and popup tooltips
@import 'NonInteractiveScale';
// Search in header
@import 'SchoolSearch';
@import 'tooltip';
// Intro Modal
@import 'Modal';
@import 'ShareLinkModal';

// * {
//   font-family: Halyard;
// }
// figure,
// p {
//   margin: 0;
// }
.svg-base {
  // height: 100%;
  background-size: 100%;
  display: inline-block;
}

.inline-svg {
  display: inline-block;
  &.down-chevron {
    position: relative;
    bottom: 3px;
    left: 7px;
  }
}

a.logo-link {
  text-decoration: none;
}
