$spacer: 0.8rem;
.layout {
  height: 100%; // 100vh;
  // max-height: 100vh;
  .button-view-weights {
    display: none;
  }
  .menu-icon-group {
    cursor: pointer;
    display: inline; // so below padding doesn't shift element
    padding-top: $spacer; // extends clickable area
    padding-bottom: $spacer;
  }
  .menu-icon {
    width: 20px;
    height: 9px;
    margin-right: 4px;
    background-image: url('./../../../../styles/images/menu-icon.svg');
  }
}
main {
  height: calc(100vh - 80px);
  // display: none;
}
.view-parent {
  // width: calc(100% - 80px);
  // height: 100vh;
  height: 100%;
  @media only screen and (min-width: 1024px) {
    padding-left: 80px;
  }

  // position: absolute;
  // right: 0;
  &.display-feeder {
    .layout-view-map {
      display: none;
    }
  }
  &.display-map {
    .layout-view-feeder {
      display: none;
    }
  }
}
