.map-panel-slideout {
  height: 100%;
  overflow: hidden;
  .map-panel-slideout-filters {
    height: 100%;
    padding: 0.7rem;
    .select {
      button {
        width: 100%;
      }
    }
    .filters-panel-parent {
      height: 100%;
      padding: 1rem 0.4rem;
      .filter-panel-tabs {
        height: 100%;
        .filter-tab-category {
          display: none;
          height: 100%;
          overflow-y: scroll;
          padding-bottom: 1.2rem;
          h5 {
            margin-bottom: 0.2rem;
          }
          h6 {
            margin-bottom: 0.1rem;
          }
        }
        &.active-tab-cri {
          .tab-category-cri {
            display: block;
          }
        }
        &.active-tab-econ {
          .tab-category-econ {
            display: block;
          }
        }
        &.active-tab-edu {
          .tab-category-edu {
            display: block;
          }
        }
        &.active-tab-fam {
          .tab-category-fam {
            display: block;
          }
        }
        &.active-tab-heal,
        &.active-tab-hel {
          .tab-category-heal,
          .tab-category-hel {
            display: block;
          }
        }
        &.active-tab-comm {
          .tab-category-comm {
            display: block;
          }
        }
      }
    }
  }
}
